.left-img {
    height: 500px;
    aspect-ratio: 1/1;
}

.left-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.left-bubble {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    top: -120px;
    z-index: 1;
    position: relative;
    background: hsla(211, 95%, 76%, 1);
    background: linear-gradient(270deg, hsla(211, 95%, 76%, 1) 0%, hsla(167, 82%, 35%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(211, 95%, 76%, 1) 0%, hsla(167, 82%, 35%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(211, 95%, 76%, 1) 0%, hsla(167, 82%, 35%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#88C1FC%22,%20endColorstr=%22#10A484%22,%20GradientType=1%20");
}

.right {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
}

.left-header {
    height: 150px;
    width: 150%;
    top: 50px;
    left: 17vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 8px;
    line-height: 1;
}


@media screen and (max-width: 600px) {


    .left-header {
        top: 0;
        left: 0;
        font-size: 50px;
        width: 100%;
    }

    .left-img {
        height: 300px;
    }

    .left-bubble {
        height: 0;
        width: 0;
        margin-bottom: 3em;
    }

    .right {
        width: 95%;
        height: min-content;
        font-size: medium;
    }
}