/* MainScreen */

.mainscreen-head{
    font-size: 100px;
    letter-spacing: 10px;
    line-height: 0.9;
}

.mainscreen-subhead{
    font-size: 30px;
    margin-top: 3em;
}
/* Project Component */

.project-box{
    background-color: lightblue;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
}

.img-wrap{
    width: inherit;
}

.img-wrap img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.project-info{
    color: #fff;
    margin: 30px 20px;
}

.project-info h1{
    width: fit-content;
    margin: 20px auto;
}

/* Contact Component */

.Form-box {
    padding: 3em;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.Contact-heading {
    font-size: 80px;
    letter-spacing: 10px;
    text-align: center;
}

.col a {
    font-size: 33px;
}

.row {
    width: 100px;
}

.Footer-bar a {
    margin: auto 10px;
    text-decoration: none;
    color: white;
}

.social-handle {
    /* For Safari */
    position: -webkit-sticky;
    position: fixed;
    top: 20vh;
    right: 0;
    width: 80px;
    /* Light gray background */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    /* Optional shadow for effect */
    z-index: 1000;
    /* Make sure it stays on top of other content */
}

.social-handle .col{
    margin: 10px auto;
}
/* Skill Set */

.skill{
    margin: 10px;
    width: 100%;
}

.skilled-num{
    height: 25px;
    width: 25px;
    margin: 5px;
    border-radius: 50%;
    background-color: blueviolet;
}

.num{
    height:25px;
    width: 25px;
    margin: 5px;
    border-radius: 50%;
    background-color: white;
}

/* Certifications  */

#Certificate{
    padding: 100px;
}

.certificate-img img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
}

.slick-slide > div{
    margin: 0 10px;
}